<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="{% static 'images/beefavicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'assets/AgoraRTC_N-4.12.1.js' %}"></script>
    <script defer src="{% static 'js/streams.js' %}"></script>
    
</head>
<body>
    
    <div id="main_cont">
        <div id="video-streams">
        
        </div>
    </div>
    
</div>   
<section id="controls">
    <div id="room-name"></div>
    <div id="control-center">
    <div id="cam-toggle"><img class="control-img" src="{% static 'images/camon.svg' %}" alt=""></div>
    <div id="mic-toggle"><img class="control-img" src="{% static 'images/micon.svg' %}" alt=""></div>
    <div id="leave-btn"><img class="control-img" src="{% static 'images/leave.svg' %}" alt=""></div>
</section>


</body>
</html>