body {
    background-color: #1f1e1f;
    padding: 0px;
    margin: 0px;
}

#main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#video-streams{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
   margin-bottom: 150px;
   
}
.video-cont{
    width: 495px;
    height: 295px;
    margin: 0px;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin: 5px;
    border-radius: 10px;
}

.video-player{
    height: 100%;
    width: 100%;
}

.username-wrap{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 15;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 50px ;
}
.username{
    color: white;
    font-family: 'futura';
}

.control-img{
    width: 45px;
    height: 45px;
    background-color: #FFC045;
    padding: 10px;
    border-radius: 100%;
}

#control-center{
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
#controls{
    width: 100%;
    background-color: rgb(28, 28, 28);
    position: fixed;
    bottom: 0;
    padding: 15px 0px 15px 0px;
    z-index: 100;
    margin: 0px;
}
.control-img:hover{
    background-color: #d19824;
}
#room-name{
    color: white;
    font-family: 'futura';
    font-size: 35px;
    z-index: 110;
    position: fixed;
    width: 35%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 15px;
   
    
}

#home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #131313;
    border-radius: 10px;
    
    
}
.form-field{
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.form-field>input{
    padding: 15px;
    border-radius: 50px;
    border: none;
    width: 100%;
    font-family: 'futura';
    
}

.form-field>input[type=submit]{
    background-color: #FFC045;
    width: 50%;
}

input[type=submit]:hover{
    background-color: #d19824;
}
.gagecom{
    font-family: 'futura';
    margin-top: 25px;
    color: white;
}

.beelogo{
    width: 100px;
}

#brand-wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

#brand-wrap>h1{
    color: white;
    font-family: 'futura';
    font-size: 50px;
}




/* RECORING ON ANIMATION */

div#pulse-wrapper {
    position: absolute;
    z-index: 10;
    margin: 15px;
    
  }
  
  div.pulse {
    height: 10px;
    width: 10px;
    background-color: #FFC045;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
      40% {
          transform: scale(.5);
          box-shadow: 0 0 0 10px rgba(199, 153, 8, 0.3);
      }
  
      80% {
          transform: scale(.25);
          box-shadow: 0 0 0 15px rgba(199, 153, 8, 0);
      }
  
      100% {
        
          box-shadow: 0 0 0 0 rgba(199, 153, 8, 0)
      }
  }



@font-face {
    font-family: 'futura';
    src: local('futura'), url('/static/fonts/futura.ttf') format("truetype");
}



/* 

Portland Orange: #F2542D

Jet blue: #30323D


*/